<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test thread-count="5" name="Test">
        <classes>
            <class name="com.workfall.ClientTest1"/>
            <class name="com.workfall.PartnerTest1"/>
<!--            <class name="com.workfall.ClientTest2"/>-->
<!--            <class name="com.workfall.ClientTest3"/>-->
<!--            <class name="com.workfall.ClientTest5"/>-->
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
